.App {
  width: 100vw;
  height: 100vh;
  color: #FFFFFF;
  font-size: 16px;
  position: relative;
  overflow: hidden;
  font-family: "dm-sans", sans-serif;
  background: radial-gradient(circle at 110% 10%, rgba(137, 142, 255, .3) 0%,transparent 20%),
  radial-gradient(circle at 110% 10%, rgba(71,56,108, 0.5) 20%, rgba(20,20,22, 0.5) 100%),
  radial-gradient(circle at 50% 40%, rgba(16, 45, 244, 1) 0.1%, transparent 45%),
  radial-gradient(circle at 80% 40%, rgba(139, 19, 144, 1) 0.1%, transparent 35%),
  radial-gradient(circle at 5% 5%, rgba(173, 0, 255, .5) 0%, rgba(0,0,0,.39) 30%),
  radial-gradient(ellipse at 90% 65%, rgba(21, 21, 23, 0.8) 3.65%, rgba(0, 7, 50, 0.74) 50%);
  background-color: "transparent";
}

.bg-grid {
  z-index: -1;
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: black;
}

.bg-grid-top {
  position: absolute;
  top: -16vh;
  left: 0vw;
}

.bg-grid-bottom {
  position: absolute;
  top: 62vh;
  left: 0vw;
}

.content {
  z-index: 1;
  position: relative;
}
