.bg-grid {
    z-index: -1;
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: black;
  }
  
.bg-grid-top {
    position: absolute;
    top: -16vh;
    left: 0vw;
}

.bg-grid-bottom {
    position: absolute;
    top: 62vh;
    left: 0vw;
}
  