@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

.container249 {
  margin-top: 4rem;
  padding: 0;
}

.player249 {
  /* background: radial-gradient(
      circle at 110% 10%,
      rgba(137, 142, 255, 0.4) 4%,
      transparent 30%
    ),
    radial-gradient(
      circle at 110% 10%,
      rgba(71, 56, 108, 0.5) 20%,
      rgba(20, 20, 22, 0.5) 100%
    ),
    radial-gradient(
      circle at 50% 40%,
      rgba(16, 45, 244, 1) 0.1%,
      transparent 45%
    ),
    radial-gradient(
      circle at 80% 40%,
      rgba(139, 19, 144, 1) 0.1%,
      transparent 35%
    );
  background-color: black; */
  color: white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.content249 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  text-align: center;
  padding-top: 1rem;
  /* padding-bottom: 95%; */
}

.oval249 {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 60px;
  width: 85px;
  background-color: rgba(33, 32, 55, 0.5);
  border-radius: 40px;
  color: white;
  font-size: 14px;
}

.title249 {
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center; /* Vertically center */
  position: fixed; /* Position fixed to keep it centered even when scrolling */
  right: 0;
  left: 0;
}

.icon249 {
  margin-left: 0.5rem;
  color: #d9d9d9;
}

.page-indicator249 {
  margin-right: 0.5rem;
  opacity: 0.5;
}

.player-controls {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progress-bar {
  width: 98%;
  height: 2px;
  border-radius: 10px;
  background-color: #34345f;
  margin-bottom: 15%;
}

.time {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 98%;
  margin-top: 1rem;
  color: rgb(190, 166, 222);
  font-family: "DM Sans", sans-serif;
  font-size: 11px;
}

.time .end {
  opacity: 0.4;
}

.progress-bar .bar {
  height: 2px;
  border-radius: 5px;
  width: 10%;
  background-color: rgb(158, 136, 252);
}

.progress-bar span {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  background: rgb(190, 166, 222);
  float: right;
  margin-top: -8.5px;
  margin-right: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  border: none;
  background: none;
  color: rgb(190, 166, 222);
  cursor: pointer;
}

.buttons {
  display: flex;
  justify-content: space-between;
  width: 60%;
}

.circle {
  display: flex;
  justify-content: center;
  background-color: rgba(52, 52, 95, 0.6);
  border-radius: 50%;
  height: 70px;
  width: 70px;
}

.artist-image-container249 {
  padding-top: 5%;

  /* padding-bottom: 65%; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.artist-image-container249 p {
    color: #6b638a;
}

.artist-image249 {
  width: 60%;
  height: auto;
  overflow: hidden;
  border-radius: 40px;
}

.artist-image249 img {
  width: 100%;
  height: auto;
}

.buy-button-container249 {
    padding-top: 5%;
    display: flex;
    justify-content: center;
}

.buy-button249 {
    width: 60%;
    border-radius: 45px;

    padding-top: 5%;
    padding-bottom: 5%;

    outline: solid #e5cffe;

    display: flex;
    justify-content: center;
}

.buy-button249 button {
    font-size: large;
}
