@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

.screenBackground {
  height: 102vh;
  background: radial-gradient(
      circle at 110% 10%,
      rgba(137, 142, 255, 0.4) 4%,
      transparent 30%
    ),
    radial-gradient(
      circle at 110% 10%,
      rgba(71, 56, 108, 0.5) 20%,
      rgba(20, 20, 22, 0.5) 100%
    ),
    radial-gradient(
      circle at 50% 40%,
      rgba(16, 45, 244, 1) 0.1%,
      transparent 45%
    ),
    radial-gradient(
      circle at 80% 40%,
      rgba(139, 19, 144, 1) 0.1%,
      transparent 35%
    );

  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  font-family: "DM Sans", sans-serif;
  color: #f1f1f1;
}

.imgContainer {
  margin-top: 1rem;
  width: 30%;
  border-radius: 40px;
  overflow: hidden;
  position: relative;
}

.imgContainer::before {
  content: ""; /* Create a pseudo-element */
  display: block;
  padding-top: 100%;
}

.imgContainer img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.description {
  display: flex;
  align-items: center;
  gap: 1rem;
  font-weight: bold;
}

.subText {
  font-weight: 400;
  color: #6b638a;
}

.buyButton {
  margin-bottom: 2%;
  width: 50%;
  border-radius: 45px;
  display: flex;
  flex-direction: column;
  background-color: #1b1b1b;
  padding: 1% 1rem 1rem 1rem;
  box-sizing: border-box;
}

.buyDetails {
  display: flex;
  justify-content: space-evenly;
}

.buyHeading {
  color: #6b638a;
}

.buySubContent {
  font-size: large;
  font-weight: bold;
}

.buyButton button {
  width: 96.5%;
  margin-left: 2%;
  margin-bottom: -2%;
  box-sizing: border-box;
  padding: 0.5rem;

  border: none;
  border-radius: 45px;
  background-image: linear-gradient(#e5cffe, #cccefe);
  color: #6b638a;
  font-weight: bold;
  font-size: large;
}

@media only screen and (max-width: 450px) {
  .imgContainer {
    margin-top: -1rem;
    width: 100%;
    border-radius: 0px 0px 40px 40px;
  }
  .content250 {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
  }

  .buyButton {
    width: 90%;
    margin-bottom: 5%;
    padding: 1% 5% 5% 5%;
  }

  .buyButton button {
    width: 112%;
    margin-left: -6%;
    margin-bottom: -6%;
    padding: 10%;
  }
}
